.navBar{
	background-color: #0F0F0F;
	height: 80px;
}
.container{
	max-width: 1140px;
	padding: 0px 15px;
	background-color: #0F0F0F;
}

@media (min-width: 992px){
	.show{
		background-color: #0F0F0F!important;
	}
}
.show{
	background-color: #1b1b1b;
}
.navbar-brand{
	font-family: PostNoBillsJaffna;
	font-weight: 700;
	font-size: 2.57rem;
	line-height: 57.3px;
	text-transform: uppercase;
}
.navbar-nav a{
	text-transform: uppercase;
	color: #fff!important;
}
.navbar-nav .nav-link{
	padding-right: 1.5rem!important;
	padding-left: 1.5rem!important;
	display: flex;
	align-items: center;
}
.navbar-nav a:hover{
	background-color: #1F1F1F;
}
.navbar-nav .nav-link:last-child{
	padding-right: 0px!important;
}
.noHover:hover{
	background-color: unset!important;
}

