.wrapper{
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}

.containerM{
	max-width: 1140px;
	padding: 0px 15px;
	margin: 0px auto;
}

.titleM{
	font-family: 'Playfair Display', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 2.57rem;
	line-height: 2.9rem;
	margin-bottom: 40px;
	text-align: center;
}
.titleM::after{
	display: block;
	content: "";
	max-width: 120px;
	height: 1px;
	background-color: #fff;
	margin: 40px auto 0px;
}


@media (max-width: 341px){
	.titleM{
		font-size: 2.27rem;
		line-height: 2rem;
	}
}
@media (max-width: 295px){
	.titleM{
		font-size: 1.9rem;
	}
}

.testM{
	color: black;
	flex: 1 1 auto;
}
.testMdiv{}